<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size: 20pt;">
    <div style="margin-bottom: 10px;">ADD BOOK</div>

    <form action="/book/add" method="post">
        <div>Title: <input autofocus name="title"> </div>
        <input type="submit" />
    </form>

</body>

</html>