<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size: 20pt;">
    <div style="margin-bottom: 10px;">INDEX</div>

    <div><a href="/books">Browse</a> the list of books!</div>
    <div><a href="/users">Browse</a> the list of users!</div>
    <div><a href="/lendings">Browse</a> lendings!</div>
    <div><a href="/games">Browse</a> games!</div>
</body>

</html>